/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

body {
  font-family: Roboto;
  font-size: 0.75em;
  margin: 0;
}

#media-router-container {
  display: flex;
  flex-direction: column;
}
