/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#account-picture {
  border-radius: 28px;
  height: 56px;
  object-fit: cover;
  vertical-align: middle;
  width: 56px;
}
