<link rel="import" href="chrome://resources/html/i18n_behavior.html">
<link rel="import" href="chrome://resources/polymer/v1_0/polymer/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/neon-animation/neon-animatable.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-button/paper-button.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-checkbox/paper-checkbox.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-dialog/paper-dialog.html">
<link rel="import" href="chrome://md-settings/people_page/sync_page.html">
<link rel="import" href="chrome://md-settings/people_page/sync_private_api.html">
<link rel="import" href="chrome://md-settings/settings_page/settings_animated_pages.html">
<link rel="import" href="chrome://md-settings/settings_page/settings_subheader.html">

<if expr="chromeos">
<link rel="import" href="chrome://md-settings/people_page/users_page.html">
</if>

<dom-module id="settings-people-page">
  <link rel="import" type="css" href="chrome://md-settings/settings_shared.css">
  <link rel="import" type="css" href="people_page.css">
  <template>
    <settings-animated-pages id="pages" current-route="{{currentRoute}}"
        section="people">
      <neon-animatable id="main">
        <div class="settings-box">
          <div class="split">
            <span class="start">
              <img id="account-picture" src="[[syncStatus.iconURL]]">
              [[syncStatus.name]]
            </span>
            <span>
              <template is="dom-if" if="[[!syncStatus.signedIn]]">
                <paper-button on-tap="onSigninTap_" raised
                    disabled="[[syncStatus.setupInProgress]]">
                    [[i18n('syncSignin')]]
                </paper-button>
              </template>
              <template is="dom-if" if="[[syncStatus.signedIn]]">
                <paper-button on-tap="onDisconnectTap_"
                    disabled="[[syncStatus.setupInProgress]]">
                    [[i18n('syncDisconnect')]]
                </paper-button>
              </template>
            </span>
          </div>
          <div hidden="[[syncStatus.signedIn]]">[[i18n('syncOverview')]]</div>
        </div>

        <div class="settings-box split"
            hidden="[[!isStatusTextSet_(syncStatus)]]">
          <span id="syncStatusText"></span>
          <paper-button on-tap="onActionLinkTap_">
            [[syncStatus.actionLinkText]]
          </paper-button>
        </div>

        <template is="dom-if"
            if="[[isAdvancedSyncSettingsVisible_(syncStatus)]]">
          <div class="settings-box">
            <paper-button on-tap="onSyncTap_" raised>
              [[i18n('syncPageTitle')]]
            </paper-button>
          </div>
        </template>

        <div class="settings-box">
          <paper-button i18n-content="manageOtherPeople"
              on-tap="onManageOtherPeople_">
          </paper-button>
        </div>
      </neon-animatable>
      <neon-animatable id="sync">
        <settings-subheader i18n-values="page-title:syncPageTitle">
        </settings-subheader>
        <settings-sync-page current-route="[[currentRoute]]">
        </settings-sync-page>
      </neon-animatable>
<if expr="chromeos">
      <neon-animatable id="users">
        <settings-subheader i18n-values="page-title:usersPageTitle">
        </settings-subheader>
        <settings-users-page prefs="{{prefs}}"></settings-users-page>
      <neon-animatable>
</if>
    </settings-animated-pages>

    <paper-dialog modal id="disconnectDialog">
      <h2 i18n-content="syncDisconnectTitle"></h2>
      <div i18n-values=".innerHTML:syncDisconnectExplanation"></div>
<if expr="(not chromeos and is_posix) or is_win or is_macosx">
      <paper-checkbox id="deleteProfile"
          i18n-content="syncDisconnectDeleteProfile">
      </paper-checkbox>
</if>
      <div class="button-strip">
        <paper-button dialog-dismiss i18n-content="cancel">
        </paper-button>
        <paper-button dialog-confirm raised on-tap="onDisconnectConfirm_"
            i18n-content="syncDisconnectConfirm">
        </paper-button>
      </div>
    </paper-dialog>
  </template>
  <script src="people_page.js"></script>
</dom-module>
