/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

iron-icon {
  -webkit-margin-end: 10px;
}

#deviceList {
  border: lightgrey solid 1px;
  margin: 10px 0;
  max-height: 400px;
  padding: 10px;
}

div.iron-selected,
div.device:hover {
  background-color: lightgrey;
}

div.device:not(:hover) .hover-only {
  visibility: hidden;
}

span.name[connected],
span.name[connecting] {
  font-weight: bold;
}
