<div id="content-settings-exceptions-area" class="page" hidden>
  <div class="close-button"></div>
  <h1></h1>
  <div class="content-area">
    <div id="exception-column-headers">
      <div id="exception-pattern-column" i18n-content="exceptionPatternHeader">
      </div>
      <div id="exception-behavior-column"
          i18n-content="exceptionBehaviorHeader"
          class="exception-value-column-header">
      </div>
      <div id="exception-zoom-column"
          i18n-content="exceptionZoomHeader"
          class="exception-value-column-header" hidden>
      </div>
      <div id="exception-usb-device-column"
          i18n-content="exceptionUsbDeviceHeader"
          class="exception-value-column-header" hidden>
      </div>
    </div>
    <div contentType="cookies">
      <list mode="normal"></list>
      <div>
        <span class="otr-explanation" i18n-content="otrExceptionsExplanation">
        </span>
        <list mode="otr"></list>
      </div>
      <div class="flash-plugin-area">
        <a i18n-values="href:flashStorageUrl" target="_blank"
            i18n-content="flashStorageSettings">
        </a>
      </div>
    </div>
    <div contentType="images">
      <list mode="normal"></list>
      <div>
        <span class="otr-explanation" i18n-content="otrExceptionsExplanation">
        </span>
        <list mode="otr"></list>
      </div>
    </div>
    <div contentType="javascript">
      <list mode="normal"></list>
      <div>
        <span class="otr-explanation" i18n-content="otrExceptionsExplanation">
        </span>
        <list mode="otr"></list>
      </div>
    </div>
    <div contentType="plugins">
      <list mode="normal"></list>
      <div>
        <span class="otr-explanation" i18n-content="otrExceptionsExplanation">
        </span>
        <list mode="otr"></list>
      </div>
    </div>
    <div contentType="popups">
      <list mode="normal"></list>
      <div>
        <span class="otr-explanation" i18n-content="otrExceptionsExplanation">
        </span>
        <list mode="otr"></list>
      </div>
    </div>
    <div contentType="location">
      <list mode="normal"></list>
    </div>
    <div contentType="notifications">
      <list mode="normal"></list>
    </div>
    <div contentType="fullscreen">
      <list mode="normal"></list>
      <div>
        <span class="otr-explanation" i18n-content="otrExceptionsExplanation">
        </span>
        <list mode="otr"></list>
      </div>
    </div>
    <div contentType="mouselock">
      <list mode="normal"></list>
      <div>
        <span class="otr-explanation" i18n-content="otrExceptionsExplanation">
        </span>
        <list mode="otr"></list>
      </div>
    </div>
    <div contentType="protectedContent">
      <list mode="normal"></list>
      <div>
        <span class="otr-explanation" i18n-content="otrExceptionsExplanation">
        </span>
        <list mode="otr"></list>
      </div>
    </div>
    <div contentType="media-stream-mic">
      <list mode="normal"></list>
      <div>
        <span class="otr-explanation" i18n-content="otrExceptionsExplanation">
        </span>
        <list mode="otr"></list>
      </div>
      <div id="media-pepper-flash-exceptions-mic" class="pepper-flash-settings">
        <span i18n-content="mediaPepperFlashMicExceptionsDivergedLabel"></span>
        <a target="_blank" i18n-content="mediaPepperFlashChangeLink"
            i18n-values="href:mediaPepperFlashWebsitePrivacyURL"></a>
      </div>
    </div>
    <div contentType="media-stream-camera">
      <list mode="normal"></list>
      <div>
        <span class="otr-explanation" i18n-content="otrExceptionsExplanation">
        </span>
        <list mode="otr"></list>
      </div>
      <div id="media-pepper-flash-exceptions-camera"
          class="pepper-flash-settings">
        <span i18n-content="mediaPepperFlashCameraExceptionsDivergedLabel">
        </span>
        <a target="_blank" i18n-content="mediaPepperFlashChangeLink"
            i18n-values="href:mediaPepperFlashWebsitePrivacyURL"></a>
      </div>
    </div>
    <div contentType="ppapi-broker">
      <list mode="normal"></list>
      <div>
        <span class="otr-explanation" i18n-content="otrExceptionsExplanation">
        </span>
        <list mode="otr"></list>
      </div>
    </div>
    <div contentType="multiple-automatic-downloads">
      <list mode="normal"></list>
    </div>
    <div contentType="midi-sysex">
      <list mode="normal"></list>
      <div>
        <span class="otr-explanation" i18n-content="otrExceptionsExplanation">
        </span>
        <list mode="otr"></list>
      </div>
    </div>
    <div contentType="push-messaging">
      <list mode="normal"></list>
      <div>
        <span class="otr-explanation" i18n-content="otrExceptionsExplanation">
        </span>
        <list mode="otr"></list>
      </div>
    </div>
    <div contentType="usb-devices">
      <list mode="normal"></list>
      <div>
        <span class="otr-explanation" i18n-content="otrExceptionsExplanation">
        </span>
        <list mode="otr"></list>
      </div>
    </div>
    <div contentType="zoomlevels">
      <list mode="normal"></list>
      <div>
        <span class="otr-explanation" i18n-content="otrExceptionsExplanation">
        </span>
        <list mode="otr"></list>
      </div>
    </div>
  </div>
  <div class="action-area">
    <div class="hbox stretch">
      <a target="_blank" i18n-content="learnMore"
          i18n-values="href:exceptionsLearnMoreUrl"></a>
    </div>
    <div class="action-area-right">
      <div class="button-strip">
        <button id="content-settings-exceptions-overlay-confirm"
            class="default-button" i18n-content="done">
        </button>
      </div>
    </div>
  </div>
</div>
