<link rel="import" href="chrome://resources/html/cr.html">
<link rel="import" href="chrome://resources/html/i18n_behavior.html">
<link rel="import" href="chrome://resources/polymer/v1_0/polymer/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-header-panel/paper-header-panel.html">
<link rel="import" href="chrome://extensions/item_list.html">
<link rel="import" href="chrome://extensions/service.html">
<link rel="import" href="chrome://extensions/sidebar.html">
<link rel="import" href="chrome://extensions/toolbar.html">

<dom-module id="extensions-manager">
  <template>
    <paper-header-panel id="panel">
      <extensions-toolbar class="paper-header" id="toolbar">
      </extensions-toolbar>
      <extensions-sidebar in-dev-mode="[[inDevMode]]"
          hide-extensions-button="[[computeListHidden_(extensions, extensions.splices)]]"
          hide-apps-button="[[computeListHidden_(apps, apps.splices)]]"
          hide-websites-button="[[computeListHidden_(websites, websites.splices)]]">
      </extensions-sidebar>
      <div id="items">
        <extensions-item-list id="extensions-list" items="[[extensions]]"
            delegate="[[service]]" header="[[i18n('sidebarExtensions')]]"
            in-dev-mode="[[inDevMode]]"
            hidden$="[[computeListHidden_(extensions, extensions.splices)]]">
        </extensions-item-list>
        <extensions-item-list id="apps-list" items="[[apps]]"
            delegate="[[service]]" header="[[i18n('sidebarApps')]]"
            in-dev-mode="[[inDevMode]]"
            hidden$="[[computeListHidden_(apps, apps.splices)]]">
        </extensions-item-list>
        <extensions-item-list id="websites-list" items="[[websites]]"
            delegate="[[service]]" header="[[i18n('sidebarWebsites')]]"
            in-dev-mode="[[inDevMode]]"
            hidden$="[[computeListHidden_(websites, websites.splices)]]">
        </extensions-item-list>
      </div>
    </paper-header-panel>
  </template>
  <link rel="import" type="css" href="chrome://extensions/manager.css">
  <script src="chrome://extensions/manager.js"></script>
</dom-module>
