<link rel="import" href="chrome://resources/polymer/v1_0/polymer/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-icon/iron-icon.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-icons/av-icons.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-icons/communication-icons.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-icons/hardware-icons.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-icons/iron-icons.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-item/paper-item.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-menu/paper-menu.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-spinner/paper-spinner.html">
<link rel="import" href="../issue_banner/issue_banner.html">
<link rel="import" href="../media_router_header/media_router_header.html">
<link rel="import" href="../route_details/route_details.html">
<dom-module id="media-router-container">
  <link rel="import" type="css" href="../../media_router_common.css">
  <link rel="import" type="css" href="media_router_container.css">
  <template>
    <media-router-header id="container-header"
        class$="[[currentView_]]" view="[[currentView_]]"
        heading-text="[[computeHeaderText_(currentView_, headerText)]]"
        arrow-drop-icon-disabled="[[computeIsLaunching_(currentLaunchingSinkId_)]]"
        tooltip="[[computeHeaderTooltip_(currentView_, headerTextTooltip)]]"
        on-back-click="showSinkList_">
    </media-router-header>
    <template is="dom-if"
        if="[[computeIssueBannerShown_(currentView_, issue)]]">
      <issue-banner id="issue-banner" issue="[[issue]]"
          class$="[[computeIssueBannerClass_(issue)]]"
          on-issue-action-click="showSinkList_">
      </issue-banner>
    </template>
    <template is="dom-if" if="[[!computeCastModeListHidden_(currentView_)]]">
      <paper-menu id="cast-mode-list">
        <template is="dom-repeat" id="defaultCastModeList"
            items="[[computeDefaultCastModeList_(castModeList)]]">
          <paper-item on-click="onCastModeClick_">
            <iron-icon class="cast-mode-icon"
                icon="[[computeCastModeIcon_(item)]]">
            </iron-icon>
            <div><span>[[item.host]]</span></div>
          </paper-item>
        </template>
        <div id="share-screen-text"
            hidden$="[[computeShareScreenSubheadingHidden_(castModeList)]]">
          <span>[[shareYourScreenSubheadingText_]]</span>
        </div>
        <template is="dom-repeat" id="nonDefaultCastModeList"
            items="[[computeNonDefaultCastModeList_(castModeList)]]">
          <paper-item on-click="onCastModeClick_">
            <iron-icon class="cast-mode-icon"
                icon="[[computeCastModeIcon_(item)]]">
            </iron-icon>
            <div><span>[[item.description]]</span></div>
          </paper-item>
        </template>
      </paper-menu>
    </template>
    <template is="dom-if"
        if="[[!computeRouteDetailsHidden_(currentView_, issue)]]">
      <route-details id="route-details" route="[[currentRoute_]]"
          on-close-route-click="onCloseRouteClick_">
      </route-details>
    </template>
    <div id="sink-list-view"
        hidden$="[[computeSinkListViewHidden_(currentView_, issue)]]">
      <div id="device-missing"
           hidden$="[[!computeSinkListHidden_(sinksToShow_)]]">
        <paper-spinner id="searching-devices-spinner" active
            hidden$="[[computeSpinnerHidden_(justOpened_)]]">
        </paper-spinner>
        <a href="[[deviceMissingUrl]]">
          <span hidden$="[[!computeSpinnerHidden_(justOpened_)]]"
              >[[deviceMissingText_]]</span>
        </a>
      </div>
      <paper-menu id="sink-list"
          hidden$="[[computeSinkListHidden_(sinksToShow_)]]">
        <template is="dom-repeat" id="sinkList" items="[[sinksToShow_]]">
          <paper-item class="sink" on-click="onSinkClick_">
            <div class="sink-content">
              <div>
                <iron-icon icon="[[computeSinkIcon_(item)]]"
                    hidden$="[[computeSinkIsLaunching_(currentLaunchingSinkId_, item.id)]]"
                    class$="[[computeSinkIconClass_(item.id, sinkToRouteMap_)]]">
                </iron-icon>
                <template is="dom-if"
                    if="[[computeSinkIsLaunching_(currentLaunchingSinkId_, item.id)]]">
                  <paper-spinner class="sink-icon" active>
                  </paper-spinner>
                </template>
              </div>
              <div>
                <div class="sink-text">
                  <span>[[item.name]]</span>
                </div>
                <template is="dom-if"
                    if="[[!computeSinkSubtextHidden_(item, sinkToRouteMap_)]]">
                  <div class="sink-text sink-subtext">
                    <span>[[computeSinkSubtext_(item, sinkToRouteMap_)]]</span>
                  </div>
              </template>
              </div>
            </div>
          </paper-item>
        </template>
      </paper-menu>
    </div>
  </template>
  <script src="media_router_container.js"></script>
</dom-module>
