/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:root {
  --container-header-height: 52px;
}

.active-sink {
  color: rgb(33, 150, 243);
}

.cast-mode-icon,
.sink-icon {
  -webkit-padding-end: 12px;
  -webkit-padding-start: 16px;
  height: 16px;
  width: 16px;
}

#cast-mode-list {
  padding-bottom: 12px;
  padding-top: 4px;
}

#container-header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

#device-missing {
  align-items: center;
  background-color: white;
  display: flex;
  height: 120px;
  justify-content: center;
  margin-top: var(--container-header-height);
}

#device-missing a {
  color: rgba(33, 150, 243, 0.87);
  text-decoration: none;
}

#issue-banner {
  margin-top: var(--container-header-height);
  width: 100%;
  z-index: 1;
}

#issue-banner.non-blocking {
  bottom: 0;
  position: fixed;
}

paper-item {
  cursor: pointer;
  font-size: 1.0em;
  line-height: 0;
  min-height: 0;
  padding: 12px 0;
}

paper-item:hover {
  background-color: rgb(238, 238, 238);
  border: 0;
}

paper-menu {
  -webkit-user-select: none;
  color: rgba(0, 0, 0, 0.87);
  margin-top: var(--container-header-height);
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 12px;
  padding-top: 4px;
}

#searching-devices-spinner {
  height: 30px;
  width: 30px;
}

#share-screen-text {
  -webkit-padding-start: 16px;
  color: rgb(150, 150, 150);
  padding-bottom: 4px;
  padding-top: 12px;
}

.sink-content {
  display: flex;
  flex-direction: row;
  font-weight: normal;
}

.sink-subtext {
  color: rgb(150, 150, 150);
  padding-top: 8px;
}

.sink-text {
  -webkit-padding-end: 26px;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 250px;
}

#route-details {
  margin-top: var(--container-header-height);
}
