<link rel="import" href="chrome://resources/polymer/v1_0/polymer/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="chrome://resources/polymer/v1_0/neon-animation/neon-animatable.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-radio-button/paper-radio-button.html">
<link rel="import" href="chrome://md-settings/controls/settings_radio_group.html">
<link rel="import" href="chrome://md-settings/on_startup_page/startup_urls_page.html">
<link rel="import" href="chrome://md-settings/settings_page/settings_animated_pages.html">
<link rel="import" href="chrome://md-settings/settings_page/settings_subheader.html">

<dom-module id="settings-on-startup-page">
  <link rel="import" type="css"
      href="chrome://md-settings/settings_shared.css">
  <link rel="import" type="css" href="on_startup_shared.css">
  <template>
      <div class="settings-box">
        <settings-radio-group pref="{{prefs.session.restore_on_startup}}">
          <paper-radio-button name="[[prefValues_.OPEN_NEW_TAB]]"
              i18n-content="onStartupOpenNewTab">
          </paper-radio-button>
          <paper-radio-button name="[[prefValues_.CONTINUE]]"
              i18n-content="onStartupContinue">
          </paper-radio-button>
          <paper-radio-button name="[[prefValues_.OPEN_SPECIFIC]]">
            <span i18n-content="onStartupOpenSpecific"></span>
          </paper-radio-button>
        </settings-radio-group>
        <template is="dom-if"
            if="[[showStartupUrls_(prefs.session.restore_on_startup.value)]]">
          <div class="list-frame">
            <settings-startup-urls-page prefs="{{prefs}}">
            </settings-startup-urls-page>
          </div>
        </template>
      </div>
    </template>
  <script src="on_startup_page.js"></script>
</dom-module>
