<link rel="import" href="chrome://resources/polymer/v1_0/polymer/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-button/paper-button.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-input/paper-input.html">
<link rel="import" href="chrome://resources/cr_elements/cr_collapse/cr_collapse.html">

<dom-module id="cr-search-engine-adder">
  <link rel="import" type="css" href="search_engine_adder.css">
  <template>
    <div class="add-label layout horizontal center justified">
      <span i18n-content="searchEnginesAddSearchEngineLabel"></span>
      <cr-expand-button expanded="{{opened}}"></cr-expand-button>
    </div>
    <cr-collapse opened="{{opened}}">
      <div class="settings-box">
        <div class="container layout horizontal">
          <div class="input-field flex two">
            <div class="input-label" i18n-content="searchEnginesDomainLabel">
            </div>
            <paper-input id="domainField" auto-validate="false" required>
            </paper-input>
          </div>
          <div class="input-field flex two">
            <div class="input-label" i18n-content="searchEnginesKeywordLabel">
            </div>
            <paper-input id="keywordField" auto-validate="false" required>
            </paper-input>
          </div>
          <div class="input-field flex four">
            <div class="input-label" i18n-content="searchEnginesQueryURLLabel">
            </div>
            <paper-input id="queryURLField" auto-validate="false" required>
            </paper-input>
          </div>
          <div class="layout horizontal center">
            <paper-button i18n-content="searchEnginesAddButtonLabel"
                on-click="{{add_}}" raised>
            </paper-button>
          </div>
        </div>
      </div>
    </cr-collapse>
  </template>
  <script src="search_engine_adder.js"></script>
</dom-module>
