/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#close-route-button {
  -webkit-padding-end: 24px;
  background-color: white;
  line-height: 12px;
  margin: 12px 0;
  text-align: end;
  width: 100%;
}

#custom-controller {
  display: inline-block;
  height: 136px;
  width: 100%;
}

#route-information {
  -webkit-padding-start: 44px;
  background-color: white;
  font-size: 1.2em;
  margin-top: 16px;
  overflow: hidden;
}
