<link rel="import" href="chrome://resources/polymer/v1_0/polymer/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-button/paper-button.html">
<dom-module id="route-details">
  <link rel="import" type="css" href="../../media_router_common.css">
  <link rel="import" type="css" href="route_details.css">
  <template>
    <div id="route-information" hidden$="[[!isCustomControllerHidden_]]">
      <span>[[activityStatus_]]</span>
    </div>
    <extensionview id="custom-controller"
        hidden$="[[isCustomControllerHidden_]]">
    </extensionview>
    <paper-button flat id="close-route-button" class="button"
        on-click="closeRoute_">
      <span>[[stopCastingButtonText_]]</span>
    </paper-button>
  </template>
<script src="route_details.js"></script>
</dom-module>
